<include href="{{ @header }}"/>

<div class="container">
  <repeat group="{{ @$list }}" value="{{ @item }}" counter="{{ @index }}">
    <div class="row mt-3  border">
      <div class="col-md-6 col-xs-12 position-relative p-0 m-0 " data-fancybox="demo-{{@index}}" data-src="{{@item->image}}">
        <img src="{{@item->image}}" width="100%" height="300">
      </div>
      <div class="col-md-6 col-xs-12 p-sm-0 m-sm-0 p-5 m-0 text-white " style="background-color: #000">
        <div class="p-4 ">
          <div class="mt-2 h3">{{@item->title}}</div>
          <p>{{@item->description}}</p>
          <div class="row">
            <div class="col-8"></div>
            <!-- <div> FIND MORE</div> -->
          </div>
        </div>
      </div>
    </div>


  </repeat>


  <div class="row mt-3  border">
    <div class="col-md-6 col-xs-12 position-relative p-0 m-0 " data-fancybox="demo-001" data-src="./static/assets/images/beyond/page5.png">
      <img src="./static/assets/images/beyond/page5.png" width="100%" height="500">
    </div>
    <div class="col-md-6 col-xs-12 p-sm-0 m-sm-0 p-5 m-0 text-white " style="background-color: #000">
      <div class="p-4 ">
        <div class="mt-2 h3"><a class=" text-white" href="https://fatfreeframework.com/3.7/home" target="_blank"> Fat-Free Framework for PHP </a></div>
        <p>The f3 framework is equipped with a fast and easy to use template engine. f3's mods work with f3's data mapping and sql tools to do more sophisticated communication with a variety of database engines.
          Source: https://fatfreeframework.com/3.7/home
        </p>
        <p>index.php is the entry file for the project, referencing the f3 MVC framework and loading some system configuration such as: routing configuration;
        <ul>
          <li>The app directory is the core of the system, the controls are defined in controllers, the models are defined in models and the templates are defined in views. The database connection is in database.php in helpers.</li>
          <li>The system uses a SQLite database, and some of the data on the page is read from and displayed in SQLite.</li>
          <li>static resources directory, this directory is the entire system resources directory, such as js, css, and image, etc. are placed here</li>
          <li>tmp is created automatically when the system is running. The main purpose here is for f3 to convert the corresponding pages in views into the corresponding templates and save them in this directory, so that the next time it is run, the pages can be rendered quickly.</li>

        </ul>

        </p>
        <div class="row">
          <div class="col-8"></div>
          <!-- <div> FIND MORE</div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<include href="{{ @footer }}"/>
